body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: "Times New Roman", serif;
}

.equation {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.fraction {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.top {
    border-bottom: 2px solid black;
    padding: 5px;
}

.bottom {
    padding: 5px;
}

.equals {
    margin: 0 15px;
}

.c {
    margin-right: 10px;
}
