<!DOCTYPE html>
<html>
<head>
    <title>Rounded Corner Example</title>
    <style>
        div {
            width: 300px;
            height: 150px;
            background-color: lightblue;
            border: 2px solid black;
            border-bottom-left-radius: 25px; /* Rounded bottom-left corner */
            padding: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>

<div>
    This div has a rounded bottom-left corner.
</div>

</body>
</html>
